.Sinistra {
    position: fixed;
    width: 35%;
    height: 100%;
    top: 5%;
    left: 2%;
    background: transparent;
    /*border-left: 5px solid black;*/
    word-wrap: break-word;
    display: block;
    image-rendering: optimizeSpeed;
}

.Destra {
    position: fixed;
    width: 60%;
    height: 83%;
    top: 12%;
    left: 39%;
    background: transparent;
    border-left: 2px solid royalblue;
    border-top: 2px solid royalblue;
    /*border-right: 2px solid royalblue;*/
    border-bottom: 2px solid royalblue;
    word-wrap: break-word;
    text-rendering: optimizeSpeed;
    /*shape-rendering: optimizeSpeed;*/
}

.Destra2 {
    position: fixed;
    width: 18%;
    height: 83%;
    top: 12%;
    left: 82%;
    background: transparent;
    /*border-left: 2px solid royalblue;*/
    border-top: 2px solid royalblue;
    border-right: 2px solid royalblue;
    border-bottom: 2px solid royalblue;
    word-wrap: break-word;
    text-rendering: optimizeSpeed;
    /*shape-rendering: optimizeSpeed;*/
}

#navbar {
    text-align: right;
    background-color: transparent;
    text-rendering: optimizeSpeed;
    /*top: 90%*/
}

#navbar1 {
    background-color: transparent;
    display: block;
    image-rendering: optimizeSpeed;
}



.Alto {
    position: fixed;
    width: 20%;
    height: 59%;
    top: 16%;
    left: 39%;
    background: transparent;
    word-wrap: break-word;
    display: block;
    image-rendering: optimizeSpeed;
    float: none;
}


.Alto0 {
    position: fixed;
    width: 38%;
    height: 28%;
    top: 32%;
    left: 0.5%;
    background: transparent;
    border-left: 2px solid royalblue;
    border-top: 2px solid royalblue;
    border-right: 2px solid royalblue;
    border-bottom: 2px solid royalblue;
    word-wrap: break-word;
    text-rendering: optimizeSpeed;
}


.Alto1 {
    position: fixed;
    width: 38%;
    height: 28%;
    top: 17%;
    left: 0.5%;
    background: transparent;
    border-left: 2px solid royalblue;
    border-top: 2px solid royalblue;
    border-right: 2px solid royalblue;
    border-bottom: 2px solid royalblue;
    word-wrap: break-word;
    text-rendering: optimizeSpeed;
}


.Alto2 {
    position: fixed;
    width: 38%;
    height: 28%;
    top: 17%;
    left: 61%;
    background: transparent;
    border-left: 2px solid royalblue;
    border-top: 2px solid royalblue;
    border-right: 2px solid royalblue;
    border-bottom: 2px solid royalblue;
    word-wrap: break-word;
    text-rendering: optimizeSpeed;
}


.Alto3 {
    position: fixed;
    width: 38%;
    height: 28%;
    top: 46%;
    left: 0.5%;
    background: transparent;
    border-left: 2px solid royalblue;
    border-top: 2px solid royalblue;
    border-right: 2px solid royalblue;
    border-bottom: 2px solid royalblue;
    word-wrap: break-word;
    text-rendering: optimizeSpeed;
}

.Alto4 {
    position: fixed;
    width: 38%;
    height: 28%;
    top: 46%;
    left: 61%;
    background: transparent;
    border-left: 2px solid royalblue;
    border-top: 2px solid royalblue;
    border-right: 2px solid royalblue;
    border-bottom: 2px solid royalblue;
    word-wrap: break-word;
    text-rendering: optimizeSpeed;
}

.Centro {
    position: fixed;
    width: 100%;
    height: 10%;
    top: 70%;
    left: 0%;
    background: transparent;
    /*border-left: 5px solid black;*/
    word-wrap: break-word;
    text-align: center;
    text-rendering: optimizeSpeed;
}


.Basso {
    position: fixed;
    width: 100%;
    height: 8%;
    top: 85%;
    left: 0%;
    background: transparent;
    /*border-left: 5px solid black;*/
    word-wrap: break-word;
    text-rendering: optimizeSpeed;
}


.Sinistra1 {
    position: fixed;
    width: 40%;
    height: 30%;
    top: 75%;
    left: 2%;
    background: transparent;
    /*border-left: 5px solid black;*/
    word-wrap: break-word;
}

.Centro1 {
    position: fixed;
    width: 30%;
    height: 30%;
    top: 73%;
    left: 39%;
    background: transparent;
    /*border-left: 5px solid black;*/
    word-wrap: break-word;
}

.Centro11 {
    position: fixed;
    width: 30%;
    height: 30%;
    top: 91%;
    left: 37%;
    background: transparent;
    /*border-left: 5px solid black;*/
    word-wrap: break-word;
}

.Destra1 {
    position: fixed;
    width: 43%;
    height: 30%;
    top: 75%;
    left: 57%;
    background: transparent;
    /*border-left: 5px solid black;*/
    word-wrap: break-word;
}




/*.U13 {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0%;
    background: white;
    word-wrap: break-word;
}

.U14 {
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    background: white;
    border-left: 5px solid black;
    word-wrap: break-word;
}



#navbar11 {
    text-align: right;
    background-color: transparent;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 85%;
    left: 0%;
}

#navbar12 {
    text-align: right;
    background-color: transparent;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 85%;
    left: 50%;
}

#navbar13 {
    text-align: right;
    background-color: transparent;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 85%;
    left: 0%;
}

#navbar14 {
    text-align: right;
    background-color: transparent;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 85%;
    left: 50%;
}*/
