<?xml version="1.0" encoding="utf-8"?>
<!--
Questo file viene usato dal processo di pubblicazione/creazione pacchetto del progetto Web. È possibile personalizzare il comportamento del processo
modificando il file MSBuild. Per altre informazioni su questo argomento, vedere https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>UTC-PRG01</MSDeployServiceURL>
    <DeployIisAppPath>WebAppMartini</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>UTECO\sentimentil</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnectionSam" Order="1" Enabled="False">
          <Destination Path="Data Source=utc-prg01;Initial Catalog=Uteco22163_Martini;Persist Security Info=False;User ID=uteco;Password=23888" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=utc-prg01;Initial Catalog=Uteco22163_Martini;Persist Security Info=False;User ID=uteco;Password=23888" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionSam_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=utc-prg01;Persist Security Info=False;User ID=uteco;Password=23888;Database=Uteco22163_Martini" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionSam1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.97;Initial Catalog=Uteco22163_MartiniD1;Persist Security Info=False;User ID=uteco;Password=23888" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionSam1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.97;Initial Catalog=Uteco22163_MartiniD1;Persist Security Info=False;User ID=uteco;Password=23888" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionSam2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.97;Initial Catalog=Uteco22163_MartiniD2;Persist Security Info=False;User ID=uteco;Password=23888" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionSam2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.97;Initial Catalog=Uteco22163_MartiniD2;Persist Security Info=False;User ID=uteco;Password=23888" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionSam3" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.0.97;Initial Catalog=Uteco22163_MartiniD3;Persist Security Info=False;User ID=uteco;Password=23888" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionSam3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.0.97;Initial Catalog=Uteco22163_MartiniD3;Persist Security Info=False;User ID=uteco;Password=23888" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ConnectionSam3-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionSam2-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionSam1-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnectionSam-Web.config Connection String">
      <ParameterValue>Data Source=utc-prg01;Initial Catalog=Uteco22163_Martini;Persist Security Info=False;User ID=uteco;Password=23888</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>